<div class="d-flex flex-column justify-content-center align-content-center">
  <form class="d-flex flex-column justify-content-center align-content-center" [formGroup]="formGroup" (submit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" >
      <mat-error>plz add a valid email</mat-error>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error>plz add a valid password with 6 charachter</mat-error>
    </mat-form-field>
    <mat-progress-bar class="mb-3" *ngIf="loader" mode="indeterminate"></mat-progress-bar>
    <button [disabled]="loader || !formGroup.valid" mat-raised-button color="primary" type="submit">Sign Up</button>

  </form>
  <!-- <button mat-icon-button><i class="fa fa-google" aria-hidden="true"></i></button> -->
  <a  routerLink="">do u have account ?</a>
</div>
