<div class="d-flex flex-row flex-wrap justify-content-center flex-start">
  <div *ngFor="let project of projects"
  routerLink="todo-lists" [queryParams]="{ id: project.id}"
  style="background-image: url({{project.image}}); background-size: cover; color:white"
  class="card" style="width: 18rem;">
    <div class="card-body">
      <h1 class="card-title">{{project.name}}</h1>
    </div>
  </div>
</div>

