
<div class="example-container ml-5 mr-5">
  <h2>{{todoList.todoName}}</h2>
<div class=" d-flex flex-culmon">
  <mat-form-field>
    <mat-label>Add Todo</mat-label>
    <input matInput  [formControl]="todoForm" (keydown.enter)="onAddTodo()">
  </mat-form-field>
</div>
  <div class="d-flex flex-culmon overflow-auto mt-3 example-container">
    <div
    class="example-list w-100 "
    id="{{todoList.id}}"
    cdkDropList
    [cdkDropListConnectedTo]="todoListConnected"
    [cdkDropListData]="todoList.todos"
    (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of todoList.todos" cdkDrag>{{item.text}}</div>
  </div>
  </div>
</div>
