<div class="d-flex flex-row overflow-auto mt-3 " style="height: 85vh;">

    <div class="ml-5 mr-auto" *ngFor="let todoList of todoLists; let i = index">
       <app-todos-list
       (addTodo)="addTodo($event, i)"
       [todoList]="todoList"
       [todoListConnected]="todoLists | arrayFilter:'id'"></app-todos-list>
    </div>
</div>
