<div class="d-flex flex-column justify-content-center align-content-center">
  <form class="d-flex flex-column justify-content-center align-content-center  mt-3" [formGroup]="formGroup" (submit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" >
    </mat-form-field>

    <mat-form-field >
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
    </mat-form-field>
    <mat-progress-bar class="mb-3" *ngIf="loader" color="primary" mode="indeterminate"></mat-progress-bar>
    <button [disabled]="loader || !formGroup.valid" mat-raised-button color="primary" type="submit">Login</button>

  </form>
  <!-- <button mat-icon-button><i class="fa fa-google" aria-hidden="true"></i></button> -->
  <a  routerLink="signup">do u want to register ?</a>
</div>
